<section class="p-5 text-center">
  <div class="row">
    <div class="col">
      <% if devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= button_to omniauth_authorize_path(resource_name, provider),class: "w-50 py-3", style: "color:white;background-color:#305097;border-radius:10px;font-size:20px;" do %>
            <i class="fab fa-facebook-f fa-fw"></i> <%= "Continue with #{OmniAuth::Utils.camelize(provider)}" %></button>
          <% end %>
          <p class="mt-4 text-muted" style="font-size:10px;">By logging in you accept our terms of use and privacy policy.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
