<footer id="main-footer" class="text-center pt-3 pb-2 text-white bg-darkorange">
  <div class="container">
    <div class="row">
      <div class="col-12 pb-3">
        <a href="#" class="text-white">Privacy Policy</a>  |
        <a href="#" class="text-white">Contact</a>  |
        <a href="#" class="text-white">Terms of service</a>
      </div>
      <div class="col-12">
        <p>Copy-right &copy; 2018 MEEaT JAPAN.inc All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
