<footer id="main-footer" class="text-center pt-5 pb-4 bg-white text-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 pb-3">
        <a href="#" class="text-secondary ml-2"><%= link_to "Terms of service", term_path(locale: :en), class:"text-muted"%></a>  |
        <a href="#" class="text-secondary mr-2"><%= link_to "Privacy Policy", policy_path(locale: :en), class:"text-muted"%></a>  |
        <a href="#" class="text-secondary mx-2"><%= link_to "Contact", contact_path(locale: :en), class:"text-muted"%></a>
      </div>
      <div class="col-12">
        <p class="text-secondary">&copy; BiliBuddy</p>
      </div>
    </div>
  </div>
</footer>
