<li class="nav-item dropdown mr-4 ml-2">
  <a class="nav-link dropdown-toggle mt-1" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= link_to '#', class: "nav-link p-0" do %>
      <i class="far fa-bell fa-lg mr-1"></i>
    <% end %>
  </a>
  <div class="dropdown-menu p-0" style="min-width:300px;left:-200px;" aria-labelledby="dropdown">
  </div>
</li>
