<li class="nav-item dropdown mt-2 ml-2 mb-2">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-language fa-lg align-middle mr-1"></i>Language
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown">
    <%= link_to root_path(locale: :en), class: "dropdown-item" do %>
      <i class="fas fa-globe-asia fa-lg mx-2"></i> EN
    <% end %>
    <%= link_to root_path, class: "dropdown-item" do %>
      <i class="fas fa-circle border border-dark" style="font-size:0.3em;border-radius:150px;color:red;margin-left:8px;padding:5px;"></i>
      <span class="pl-2">JA</span>
    <% end %>
  </div>
</li>
