<% if Meal.count > 3 %>
  <section class="p-5 bg-white">
    <div class="mx-auto text-center w-75 h4" style="margin-bottom:40px;">
      <span class="border-left px-3 border-right border-darkorange pt-0">Collection of <div class="d-inline-block">Posted <span class="main-color font-weight-bold h2">Meals</span></div></span>
    </div>
    <div class="my-4 h3">
      <span>ー</span> <span class="mx-3">Latest Meals</span> <span>ー</span>
    </div>
    <div class="row justify-content-around">
      <%= render @new_meals %>
    </div>
  </section>
<% end %>
