<div class="row">
  <% @meals.each do |meal| %>
    <div class="colp-md-3">
      <%= meal.foreigner.name %>
      <%= meal.date_time %>
      <%= meal.in %>
      <% if japanese? %>
        <%= link_to "#{meal.foreigner.name}さんにリクエスト", root_path %>
      <% end %>
    </div>
  <% end %>
</div>
