<div class="mx-auto p-4" style="font-size:14px;max-width:800px;min-width:400px;">
  <div class="text-center h3 font-weight-bold main-color mb-5">Privacy and Policy</div>
  <div class="mb-5">
    BiliBuddy (hereinafter referred to as the "Service") will stipulate the handling of personal information of users who use the services provided below and will strive to protect personal information.
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">1. Management of personal information</div>
    <div>
      In order to keep personal information of customers accurate and up to date, to prevent unauthorized access to personal information, loss, damage, tampering, leakage, etc., this service provides safety such as maintenance of security system and management system We will implement countermeasures and strictly manage personal information.
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">2. Purpose of using personal information</div>
    <div>
      Personal information we received from customers will be used for sending e-mails and documents as a response from this service, information on business, or questions.
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">3. Prohibition of disclosure and provision of personal information to third parties</div>
    <div>
      This service properly manages personal information deposited by customers and does not disclose personal information to a third party unless it falls under any of the following.</br></br>

      1. In the case there is customer consent</br>
      2. In the case where the present disclosure is disclosed to a business entrusted to the business by this service in order for the customer to provide the desired service</br>
      3. In the case it is necessary to disclose based on laws and regulations
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">4. Security measures for personal information</div>
    <div>
    In order to ensure the accuracy and safety of personal information, this service is taking thorough measures for security.
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">5. Use of cookie and other technologies</div>
    <div>
      1.　In this service, there is a page using technology called "cookie". Cookie is a technology for identifying a user's computer. With the technology of Cookie, you can change the items to be displayed for each user's computer, and save the input matter of the user, so the user can receive the customized service. Through this technology, this service is used to grasp the number of users of Web pages and usage situation, and to improve service.</br>
      </br>
      2.　The user can change the setting and invalidate the cookie function, but as a result, all or part of this service may become unusable.
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">6.Compliance with laws and regulations, norms and reviews</div>
    <div>
      In addition to observing Japanese laws and other norms applied to personal information held, this service will review the contents of this policy as necessary and make efforts to improve it.
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">7. Revises to this policy</div>
    <div>
      1.　This service may change this policy as necessary without obtaining prior consent of the user. However, when making changes in content that requires legal consent from users, we will acquire the consent of the user by the method specified by this service.</br>
      </br>
      2.　If we change this policy, we announce it on the website of this service or on this service.</br>
      </br>
      3.　With regard to this policy after change, it will take effect at the time of notice under the preceding paragraph.</br>
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">8. Inquiries about personal information</div>
    <div>
      Please contact us from <%= link_to "contact", contact_path(locale: :en) %>.
    </div>
  </div>

  <div class="mt-5">
  [Prescribed on 9/4/2017]
  </div>

</div>
