<div class="mx-auto p-4" style="font-size:14px;max-width:800px;min-width:400px;">
  <div class="text-center h3 font-weight-bold main-color mb-5">プライバシーポリシー</div>
  <div class="mb-5">
    BiliBuddy(以下 本サービス)では、提供するサービスをご利用されるユーザーの個人情報の取扱について以下のとおり定め、個人情報の保護に努めてまいります。
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">1. 個人情報の管理</div>
    <div>
      本サービスは、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等、安全対策を実施し個人情報の厳重な管理を行ないます。
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">2. 個人情報の利用目的</div>
    <div>
      お客さまからお預かりした個人情報は、本サービスからのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">3. 個人情報の第三者への開示・提供の禁止</div>
    <div>
      本サービスは、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</br>
      </br>
      1. お客さまの同意がある場合</br>
      2. お客さまが希望されるサービスを行なうために本サービスが業務を委託する業者に対して開示する場合</br>
      3. 法令に基づき開示することが必要である場合
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">4. 個人情報の安全対策</div>
    <div>
      本サービスは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">5. Cookieその他の技術の利用</div>
    <div>
      1.　本サービスにおいて、「Cookie（クッキー）」と呼ばれる技術を使用しているページがあります。Cookieとは、利用者のコンピュータを識別する技術です。Cookieの技術により、表示すべき事項を利用者のコンピュータ毎に変えたり、利用者の入力事項を保存できたりするため、利用者は、カスタマイズされたサービスの提供を受けることができます。また、同技術により、本サービスは、ウェブページの利用者数や利用状況を把握し、サービスの改善を図るために利用しております。</br>
      </br>
      2.　利用者は、設定を変更してCookieの機能を無効にすることはできますが、その結果、本サービスの全部又は一部が利用できなくなることがあります。
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">6. 法令、規範の遵守と見直し</div>
    <div>
      本サービスは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">7. 本ポリシーの変更</div>
    <div>
      1.　本サービスは、必要に応じて、利用者の事前の承諾を得ることなく本ポリシーを変更することがあります。但し、法令上利用者の同意が必要となるような内容の変更を行うときは、本サービスが定める方法により、利用者の同意を取得するものとします。</br>
      </br>
      2.　本ポリシーを変更した場合には、本サービスのウェブサイト上又は本サービス上で告知を行います。</br>
      </br>
      3.　変更後の本ポリシーについては、前項の告知時に、効力が発生するものとします。</br>
    </div>
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">8. 個人情報に関するお問い合わせ</div>
    <div>
      <%= link_to "お問い合わせ", contact_path %>からご連絡ください。
    </div>
  </div>

  <div class="mt-5">
    【2018年9月3日制定】
  </div>

</div>
