<div class="mx-auto p-4" style="font-size:13px;max-width:800px;min-width:400px;">
  <div class="text-center h3 font-weight-bold main-color mb-5">利用規約</div>
  <div class="mb-5">
    MEEaT JAPANは下記の本利用規約（以下「本規約」と言います。）に同意された方のみ提供させていただくサービスです。当サービスを利用することで、下記の利用規約に同意していただいたこととみなさせていただきますのでご注意ください。
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">1. 適用</div>
    <div>
      本規約は本サービスをご利用されるユーザーに対して、以下のとおり利用規約を定めます。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">2.パスワード及びユーザーIDの管理</div>
    <div>
      登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。</br></br>
      パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、本サービスは一切の責任を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">3. 交流サービスの利用</div>
    <div>
      交流サービスの利用について、本サービス所定の方法により、日本ローカルからの申込みを外国人が承諾し、本サービスの利用予約が完了するものとします。利用予約の手続完了までのプロセスについては、本サービスのウェブページをご確認ください。</br></br>
      前項に定める交流サービスの利用予約の完了した時点において、交流参加者同士の間に当該交流サービスの利用に関する契約が成立するものとします。本条に基づき成立した、交流参加者同士や交流参加者と店舗会員との契約について、本サービスは一切の責任を負いません。</br></br>
      また、運営は交流参加者および店舗会員の属性その他に対して何らかの保証を行うものではありません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">4.交流サービスの交流参加者に関する義務</div>
    <div>
      交流参加者は、本サービス所定の方法に従い、本人識別情報および提供する交流サービスの情報を入力し、参加の申込を行うものとします。</br></br>
      交流サービスを申込まれた登録ユーザのうち、外国人と日本ローカルのユーザと、それぞれのお申込者が交流の場へお誘いになった非登録ユーザの方を含めたお知り合いの方々が交流の参加対象者になります。交流サービスを申し込んだユーザは、ご自身がお誘いになったユーザに対しても、利用規約に記載の事項が適切に守られていることを保証する責務を負います。</br></br>
      また、店舗や交通機関などのその他利用に付随して発生する支払については、交流参加者自身にて行うものとし、その方法や内容について、本サービスは一切の責任や保証を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">5. 交流サービスを利用するにあたっての禁止事項</div>
    <div>
      安心・安全な交流のため、外国人と日本ローカルのユーザー間において以下の条件に該当する行為を禁止します。</br></br>
      ・異性間での１対１での交流サービス内でのマッチング、メッセージの送信または実際の交流</br>
      ・日本ローカル１人に対して外国人２人、または外国人１人に対して日本ローカル２人での交流サービス内でのマッチング、メッセージの送信または実際の交流</br>
      ・20歳未満の方の交流のサービスのご利用</br>
      ・過度な量のアルコールドリンクを相手に薦める行為</br>
      ・同意なしで外国人の方々に交流サービスで発生したお食事の料金を払わせる行為(本サービスは日本人ローカルが外国人をおもてなしをし、お食事をご馳走するサービスです。)</br>
      ・性的、営業、勧誘目的でのご利用</br>
      ・人目につかない場所に同意なしで連れて行く行為</br>
      ・一般の人が考えうる常識から外れた行為</br></br>
      運営は、本サービスにおいて発生したトラブル等について運営は一切の責任を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">6. 交流サービスにおけるキャンセル</div>
    <div>
      交流参加者は、利用予約の完了後、本サービス所定の方法により、キャンセルの理由を本サービスおよび交流参加者に通知して、当該利用予約に基づく交流サービスをキャンセルすることができます。</br></br>
      交流参加者は、やむを得ずキャンセルする場合、その理由とともに誠実に速やかに交流参加者に通知しなければなりません。</br></br>
      交流参加者が、正当な理由なく、利用予約の完了した交流サービスを本条に基づきキャンセルした場合、本サービスは、当該ユーザー登録を取り消すことができるものとします。</br>
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">7. 禁止事項</div>
    <div>
      ユーザーは、本サービスの利用にあたり、以下のいずれかに該当する行為をしてはなりません。</br>
      不適切な利用が発見された場合には、アカウント停止や削除を行う可能性があります。</br></br>

      ・法令に違反する行為または犯罪行為に関連する行為</br>
      ・未成年者（満20歳に達しない者）の利用</br>
      ・本サービス、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為</br>
      ・公序良俗に反する行為</br>
      ・本サービス、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</br>
      ・本サービスを通じ、以下に該当し、または該当すると本サービスが判断する情報を本サービスまたは本サービスの他の利用者に送信すること</br></br>
       -過度に暴力的または残虐な表現を含む情報</br>
       -コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報</br>
       -本サービス、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報</br>
       -過度にわいせつな表現を含む情報</br>
       -差別を助長する表現を含む情報</br>
       -自殺、自傷行為を助長する表現を含む情報</br>
       -薬物の不適切な利用を助長する表現を含む情報</br>
       -反社会的な表現を含む情報</br>
       -チェーンメール等の第三者への情報の拡散を求める情報</br>
       -他人に不快感を与える表現を含む情報</br>
       -面識のない異性との出会いを目的とした情報</br></br>
      ・本サービスのネットワークまたはシステム等に過度な負荷をかける行為</br>
      ・本サービスの運営を妨害するおそれのある行為</br>
      ・本サービスのネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為</br>
      ・第三者に成りすます行為</br>
      ・本サービスの他の利用者のIDまたはパスワードを利用する行為</br>
      ・本サービスが事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</br>
      ・本サービスの他の利用者の情報の収集</br>
      ・本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</br>
      ・本サービスウェブサイト上で掲載する本サービス利用に関するルールに抵触する行為</br>
      ・反社会的勢力等への利益供与</br>
      ・面識のない人同士でのセクシャルな出会いを目的とした行為</br>
      ・交流参加者同士での営業活動、ネットワークビジネスや宗教、自己啓発セミナーなどへの勧誘行為</br>
      ・前各号の行為を直接または間接に惹起し、または容易にする行為</br>
      ・その他、本サービスが不適切と判断する行為</br>
      運営は、本サービスにおいて発生したトラブル等について運営は一切の責任を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">8. 本サービスの停止等</div>
    <div>
      本サービスは、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</br></br>
      ・本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合</br>
      ・コンピューター、通信回線等が事故により停止した場合</br>
      ・地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合</br>
      ・外部SNSやインフラなどの第3者サービスのトラブルや連携停止、仕様変更の場合</br>
      ・その他、本サービスが停止または中断を必要と判断した場合</br></br>
      運営は、本サービスにおいて発生したトラブル等について一切の責任を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">9. 退会</div>
    <div>
      登録ユーザーは、本サービス所定の方法で、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">10. 本サービスの内容の変更、終了</div>
    <div>
      本サービスの内容を変更し、または提供を終了することができます。本サービスの提供を終了する場合、本サービスは登録ユーザーに事前に通知するものとします。</br></br>
      本サービスは、本条に基づき本サービスが行った措置に基づきユーザーに生じた損害について一切の責任を負いません。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">11. 利用者情報の取扱い</div>
    <div>
      本サービスによるユーザーの利用者情報の取扱いについては、別途本サービスプライバシーポリシーの定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って本サービスがユーザーの利用者情報を取扱うことについて同意するものとします。</br></br>
      本サービスは、ユーザーが本サービスに提供した情報、データ等を、個人を特定できない形での統計的な情報として、本サービスの裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">12. 本規約等の変更</div>
    <div>
      本サービスはユーザーへの事前の告知なく本規約を改変することがあります。改変の際には本ページ（またはそれに該当するページ）を更新いたします。サービスの継続利用を行う場合、更新された新しい規約にも同意したものとみなします。
    </div>
  </div>

  【2018年9月4日改定】
</div>



<!-- MEEaT JAPANは下記の本利用規約（以下「本規約」と言います。）に同意された方のみ提供させていただくサービスです。当サービスを利用することで、下記の利用規約に同意していただいたこととみなさせていただきますのでご注意ください。
MEEaT JAPAN is a Service which is provided only those who read and agree to the Terms and Conditions defined below. Please note that by using this service you agree to the following terms and conditions.

1. 適用
本規約は本サービスをご利用されるユーザーに対して、以下のとおり利用規約を定めます。
1. Applicability
These Terms and Conditions is to set forth the terms and conditions which is applied to　Users using this Service. (as defined below)

2.パスワード及びユーザーIDの管理
登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。
パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、本サービスは一切の責任を負いません。
2. Password and User ID Management
The Registered User shall be responsible for keeping and maintaining its password and user ID for the Services in an appropriate manner, and may not cause a third party to use, or provide, transfer, change the name of, sell or otherwise dispose of, the same.
The Registered User shall be, and this Service shall in no event be, liable for damages arising out of inappropriate management, misuse, or use of the Registered Userʼs password or user ID by a third party.

3. 交流サービスの利用
交流サービスの利用について、本サービス所定の方法により、日本ローカルからの申込みを外国人が承諾し、本サービスの利用予約が完了するものとします。利用予約の手続完了までのプロセスについては、本サービスのウェブページをご確認ください。
前項に定める交流サービスの利用予約の完了した時点において、交流参加者同士の間に当該交流サービスの利用に関する契約が成立するものとします。本条に基づき成立した、交流参加者同士や交流参加者と店舗会員との契約について、本サービスは一切の責任を負いません。
また、運営は交流参加者および店舗会員の属性その他に対して何らかの保証を行うものではありません。
3. Use of Socialization Services
The reservation of Socialization Services is completed when foreigner accepted the offers from local Japanese in the procedure designated by this Service. Please read details about the process of reservation on services' web page.
The contract about using the Socialization Services between Socialization Participants is valid after completion of reservation processes in the proceeding paragraph. We does not assume any responsibilities for contracts between Socialization Participants or between Socialization Participants and Store Users.
Also, this Service does not guarantee attributes, etc., of Socialization Participants and Store Users.

4.交流サービスの交流参加者に関する義務
交流参加者は、本サービス所定の方法に従い、本人識別情報および提供する交流サービスの情報を入力し、参加の申込を行うものとします。
交流サービスを申込まれた登録ユーザのうち、外国人と日本ローカルのユーザと、それぞれのお申込者が交流の場へお誘いになった非登録ユーザの方を含めたお知り合いの方々が交流の参加対象者になります。交流サービスを申し込んだユーザは、ご自身がお誘いになったユーザに対しても、利用規約に記載の事項が適切に守られていることを保証する責務を負います。
また、店舗や交通機関などのその他利用に付随して発生する支払については、交流参加者自身にて行うものとし、その方法や内容について、本サービスは一切の責任や保証を負いません。
4. Obligation on Socialization Participants in Socialization Services
Socialization Participants are required to put identification information and other required information by Socialization Services in the designated process to apply for participation.
Among Registered Users who applied for Socialization Services, foreigners, local Japanese, and acquaintances of each Users including those who are not Registered Users to the Services called by each Socialization Participants, will be Socialization Participants. The User who applied for Socialization Services has responsibilities to make Users who called by him/her to understand and follow this Terms and Conditions.
Socialization Participants are responsible for the expense related to meal fee, transportation facilities and other incidental payments and this Service does not bear any responsibility or guarantee regarding the method and contents.

5. 交流サービスを利用するにあたっての禁止事項
安心・安全な交流のため、外国人と日本ローカルのユーザー間において以下の条件に該当する場合は、交流を禁止します。
・異性間での１対１での交流サービス内でのマッチング、メッセージの送信または実際の交流
・日本ローカル１人に対して外国人２人、または外国人１人に対して日本ローカル２人での交流サービス内でのマッチング、メッセージの送信または実際の交流
・20歳未満の方の交流のサービスのご利用
・過度な量のアルコールドリンクを相手に薦める行為
・同意なしで外国人の方々に交流サービスで発生したお食事の料金を払わせる行為(本サービスは日本人ローカルが外国人をおもてなしをし、お食事をご馳走するサービスです。)
・性的、営業、勧誘目的でのご利用
・人目につかない場所に同意なしで連れて行く行為
・一般の人が考えうる常識から外れた行為
運営は、本サービスにおいて発生したトラブル等について運営は一切を保証いたしません。
5.　Prohibited Actions in using socialization Services
For your safety, interchange and meeting shall be prohibited if the following conditions applies to between foreigners and local japanese
・1 on 1 interchange and meeting between different genders
・2 local japanese on 1 foreigner or 1 local japanese on 2 foreigners interchange and meeting
・Use of this Service for those under the age of 20
・Act of recommending excessive amount of alcohol drink to companion
・Use this Servie for the purpose of sexuality, sales, solicitation
・Act of take and go to places that are not public without agreement
・Acts of deviating from the common sense that ordinary people can think of
We take no responsibility in regards to any troubles occurred by using our services

6. 交流サービスにおけるキャンセル
交流参加者は、利用予約の完了後、本サービス所定の方法により、キャンセルの理由を本サービスおよび交流参加者に通知して、当該利用予約に基づく交流サービスをキャンセルすることができます。
交流参加者は、やむを得ずキャンセルする場合、その理由とともに誠実に速やかに交流参加者に通知しなければなりません。
交流参加者が、正当な理由なく、利用予約の完了した交流サービスを本条に基づきキャンセルした場合、本サービスは、当該ユーザー登録を取り消すことができるものとします。
6. Cancellation of Socialization Services
Socialization Participants can cancel Socialization Services under a reservation of it after completion of the reservation, by following methods determined by this Service and giving notices about the reasons for cancellation to this Service and Socialization Participants.
Socialization Participants who wish to cancel unavoidably needs to give a notice with reasons sincerely and promptly to this Service and Socialization Participants.
Socialization Participants who canceled the Socialization Services which completed a reservation in the method determined by this Service for no good reasons, this Service may delete the user registration of the Socialization Participant.

7. 禁止事項
ユーザーは、本サービスの利用にあたり、以下のいずれかに該当する行為をしてはなりません。
不適切な利用が発見された場合には、アカウント停止や削除を行う可能性があります。

・法令に違反する行為または犯罪行為に関連する行為
・未成年者（満20歳に達しない者）の利用
・本サービス、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
・公序良俗に反する行為
・本サービス、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
・本サービスを通じ、以下に該当し、または該当すると本サービスが判断する情報を本サービスまたは本サービスの他の利用者に送信すること
 -過度に暴力的または残虐な表現を含む情報
 -コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報
 -本サービス、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
 -過度にわいせつな表現を含む情報
 -差別を助長する表現を含む情報
 -自殺、自傷行為を助長する表現を含む情報
 -薬物の不適切な利用を助長する表現を含む情報
 -反社会的な表現を含む情報
 -チェーンメール等の第三者への情報の拡散を求める情報
 -他人に不快感を与える表現を含む情報
 -面識のない異性との出会いを目的とした情報
・本サービスのネットワークまたはシステム等に過度な負荷をかける行為
・本サービスの運営を妨害するおそれのある行為
・本サービスのネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為
・第三者に成りすます行為
・本サービスの他の利用者のIDまたはパスワードを利用する行為
・本サービスが事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
・本サービスの他の利用者の情報の収集
・本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
・本サービスウェブサイト上で掲載する本サービス利用に関するルールに抵触する行為
・反社会的勢力等への利益供与
・面識のない人同士でのセクシャルな出会いを目的とした行為
・交流参加者同士での営業活動、ネットワークビジネスや宗教、自己啓発セミナーなどへの勧誘行為
・前各号の行為を直接または間接に惹起し、または容易にする行為
・その他、本サービスが不適切と判断する行為
運営は、本サービスにおいて発生したトラブル等について運営は一切を保証いたしません。
7. Prohibited Actions
When using the Services hereunder, the User may not conduct any of the following acts
We may disable or delete the User account, in case we find something inappropriate.

・acts that violate any laws or regulations or that are associated with criminal activity;
・use of our Services by underage people (under 20 years old)
・acts that defraud or threaten this Service, other Users or other third parties;
・acts against public order and good morals;
・acts that infringe any IP Rights, portrait rights, privacy rights, reputation or other rights or profit of this Service, other Users or other third parties;
・acts to transmit to other Users, through the Services, any of the following or any transmissions that this Service determines includes under any of the following:
 -excessively violent or cruel content;
 -computer viruses or other hazardous computer programs;
 -content that damages the reputation or the credit of this Service, other Users of the Services or other third parties;
 -excessively indecent content;
 -content that encourages discrimination;
 -content that encourages suicide or self-mutilation;
 -content that encourages drug abuse;
 -antisocial content;
 -content for the purpose of disbursing information, such as chain emails;
 -content that causes uncomfortable feelings to third parties;
 -content for the purpose of encountering unacquainted persons of the opposite sex;
・acts that place an excessive burden on the network or system of the Services;
・acts that threaten to interrupt the operation of the Services;
・acts to access or attempt to access the system or network of the Services improperly;
・acts to impersonate a third party;
・acts to use the user ID or password of other users of the Services;
・acts of exploitation, advertisement, soliciting or marketing without this Serviceʼs prior consent;
・acts to collect information of other users of the Services;
・acts that cause disadvantage, damage or uncomfortable feelings to other users of the Services or other third parties;
・acts that violate the Rules;
・acts to provide Antisocial Forces with profit;
・acts for sexual encounters between unknown persons;
・acts to do business activities among Socialization Participants, solicitation to network businesses, religion, self-development seminar, etc. ;
・acts that, directly or indirectly, evoke or facilitate acts listed in the preceding items; or
・other acts that this Service deems to be inappropriate.
We take no responsibility in regards to any troubles occurred by using our services

8. 本サービスの停止等
本サービスは、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
・本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合
・コンピューター、通信回線等が事故により停止した場合
・地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
・外部SNSやインフラなどの第3者サービスのトラブルや連携停止、仕様変更の場合
・その他、本サービスが停止または中断を必要と判断した場合
運営は、本サービスにおいて発生したトラブル等について一切の責任を負いません。
8. Suspension of the Services
We shall be entitled to, without any advance notice to the User, suspend or discontinue the Services, in whole or in part, in the event that:
・Inspection or maintenance of the computer system for the Services needs to be performed due to urgent circumstances;
・Computers or communication lines have been disrupted due to an accident;
・We becomes unable to provide the Services due to force majeure, including but not limited to earthquake, lightning, fire, storm and flood damage, power blackout and other natural disasters;
・We becomes unable to provide the Service due to troubles or deviation of relating third party services such as SNS, infrastructure, etc.
・We determines that suspension or discontinuance is required for other reasons.
We take no responsibility in regards to any troubles occurred by using our services.


9. 退会
登録ユーザーは、本サービス所定の方法で、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。
9. Withdrawal
The Registered User may withdraw from the Services and cancel its registration as a Registered User by following to such manner as specified by this Service


10. 本サービスの内容の変更、終了
本サービスの内容を変更し、または提供を終了することができます。本サービスの提供を終了する場合、本サービスは登録ユーザーに事前に通知するものとします。
本サービスは、本条に基づき本サービスが行った措置に基づきユーザーに生じた損害について一切の責任を負いません。
10. Services Modification and Termination
We shall be entitled to at any time modify or terminate this Services in its own discretion. We shall notify in advance the Registered User of any intended termination by this Service of the Services
We shall not be liable for any damages incurred by the User arising out of, or in connection with, any actions taken by this Service.


11. 利用者情報の取扱い
本サービスによるユーザーの利用者情報の取扱いについては、別途本サービスプライバシーポリシーの定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って本サービスがユーザーの利用者情報を取扱うことについて同意するものとします。
本サービスは、ユーザーが本サービスに提供した情報、データ等を、個人を特定できない形での統計的な情報として、本サービスの裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。

11. Treatment of User Information
Treatment by this Service of the Userʼs information shall be subject to the provisions of our <%= link_to "Privacy Policy", policy_path %>, which are separately prescribed, and the Registered User hereby agrees to treatment by this Service of the Userʼs information subject to such Privacy Policy.
We may, in its sole discretion, use or make public any information or data provided by the User to this Service as statistical information in a form that cannot identify an individual, and the User may not challenge or dispute such use.


12. 本規約等の変更
本サービスはユーザーへの事前の告知なく本規約を改変することがあります。改変の際には本ページ（またはそれに該当するページ）を更新いたします。サービスの継続利用を行う場合、更新された新しい規約にも同意したものとみなします。
12. Amendments
We reserves the right to amend or change these Terms and Conditions. In the event of any amendment or change to these Terms and Conditions, this Service shall notify the Registered User thereof. If the Registered User uses the Services or fails to take steps to cancel its registration within the time specified by this Service after the notice set forth above, the User shall be deemed to have agreed to such amendment or change to these Terms and Conditions.


【2018年9月4日改定】
 [Prescribed on 9/4/2017] -->
