<div class="mx-auto p-4" style="font-size:13px;max-width:900px;min-width:400px;">
  <div class="text-center h3 font-weight-bold main-color mb-5">Term of service</div>
  <div class="mb-5">
    BiliBuddy is a Service which is provided only those who read and agree to the Terms and Conditions defined below. Please note that by using this service you agree to the following terms and conditions.
  </div>

  <div class="mb-4">
    <div class="font-weight-bold h5">1. Applicability</div>
    <div>
      These Terms and Conditions is to set forth the terms and conditions which is applied to　Users using this Service. (as defined below)
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">2. Password and User ID Management</div>
    <div>
      The Registered User shall be responsible for keeping and maintaining its password and user ID for the Services in an appropriate manner, and may not cause a third party to use, or provide, transfer, change the name of, sell or otherwise dispose of, the same.</br></br>
      The Registered User shall be, and this Service shall in no event be, liable for damages arising out of inappropriate management, misuse, or use of the Registered Userʼs password or user ID by a third party.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">3. Use of Socialization Services</div>
    <div>
      The reservation of Socialization Services is completed when foreigner accepted the offers from local Japanese in the procedure designated by this Service. Please read details about the process of reservation on services' web page.</br></br>
      The contract about using the Socialization Services between Socialization Participants is valid after completion of reservation processes in the proceeding paragraph. We does not assume any responsibilities for contracts between Socialization Participants or between Socialization Participants and Store Users.</br></br>
      Also, this Service does not guarantee attributes, etc., of Socialization Participants and Store Users.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">4. Obligation on Socialization Participants in Socialization Services</div>
    <div>
      Socialization Participants are required to put identification information and other required information by Socialization Services in the designated process to apply for participation.</br></br>
      Among Registered Users who applied for Socialization Services, foreigners, local Japanese, and acquaintances of each Users including those who are not Registered Users to the Services called by each Socialization Participants, will be Socialization Participants. The User who applied for Socialization Services has responsibilities to make Users who called by him/her to understand and follow this Terms and Conditions.</br></br>
      Socialization Participants are responsible for the expense related to meal fee, transportation facilities and other incidental payments and this Service does not bear any responsibility or guarantee regarding the method and contents.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">5.　Prohibited Actions in using socialization Services</div>
    <div>
      For your safety, interchange and meeting shall be prohibited if the following conditions applies to between foreigners and local japanese</br></br>
      ・1 on 1 interchange and meeting between different genders</br>
      ・2 local japanese on 1 foreigner or 1 local japanese on 2 foreigners interchange and meeting</br>
      ・Use of this Service for those under the age of 20</br>
      ・Act of recommending excessive amount of alcohol drink to companion</br>
      ・Use this Servie for the purpose of sexuality, sales, solicitation</br>
      ・Act of take and go to places that are not public without agreement</br>
      ・Acts of deviating from the common sense that ordinary people can think of</br></br>
      We take no responsibility in regards to any troubles occurred by using our services
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">6. Cancellation of Socialization Services</div>
    <div>
      Socialization Participants can cancel Socialization Services under a reservation of it after completion of the reservation, by following methods determined by this Service and giving notices about the reasons for cancellation to this Service and Socialization Participants.</br></br>
      Socialization Participants who wish to cancel unavoidably needs to give a notice with reasons sincerely and promptly to this Service and Socialization Participants.</br></br>
      Socialization Participants who canceled the Socialization Services which completed a reservation in the method determined by this Service for no good reasons, this Service may delete the user registration of the Socialization Participant.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">7. Prohibited Actions</div>
    <div>
      When using the Services hereunder, the User may not conduct any of the following acts</br>
      We may disable or delete the User account, in case we find something inappropriate.</br></br>

      ・acts that violate any laws or regulations or that are associated with criminal activity;</br>
      ・use of our Services by underage people (under 20 years old)</br>
      ・acts that defraud or threaten this Service, other Users or other third parties;</br>
      ・acts against public order and good morals;</br>
      ・acts that infringe any IP Rights, portrait rights, privacy rights, reputation or other rights or profit of this Service, other Users or other third parties;</br>
      ・acts to transmit to other Users, through the Services, any of the following or any transmissions that this Service determines includes under any of the following:</br></br>
       -excessively violent or cruel content;</br>
       -computer viruses or other hazardous computer programs;</br>
       -content that damages the reputation or the credit of this Service, other Users of the Services or other third parties;</br>
       -excessively indecent content;</br>
       -content that encourages discrimination;</br>
       -content that encourages suicide or self-mutilation;</br>
       -content that encourages drug abuse;</br>
       -antisocial content;</br>
       -content for the purpose of disbursing information, such as chain emails;</br>
       -content that causes uncomfortable feelings to third parties;</br>
       -content for the purpose of encountering unacquainted persons of the opposite sex;</br></br>
      ・acts that place an excessive burden on the network or system of the Services;</br>
      ・acts that threaten to interrupt the operation of the Services;</br>
      ・acts to access or attempt to access the system or network of the Services improperly;</br>
      ・acts to impersonate a third party;</br>
      ・acts to use the user ID or password of other users of the Services;</br>
      ・acts of exploitation, advertisement, soliciting or marketing without this Serviceʼs prior consent;</br>
      ・acts to collect information of other users of the Services;</br>
      ・acts that cause disadvantage, damage or uncomfortable feelings to other users of the Services or other third parties;</br>
      ・acts that violate the Rules;</br>
      ・acts to provide Antisocial Forces with profit;</br>
      ・acts for sexual encounters between unknown persons;</br>
      ・acts to do business activities among Socialization Participants, solicitation to network businesses, religion, self-development seminar, etc. ;</br>
      ・acts that, directly or indirectly, evoke or facilitate acts listed in the preceding items;</br>
      ・other acts that this Service deems to be inappropriate.</br></br>
      We take no responsibility in regards to any troubles occurred by using our services
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">8. Suspension of the Services</div>
    <div>
      We shall be entitled to, without any advance notice to the User, suspend or discontinue the Services, in whole or in part, in the event that:</br></br>
      ・Inspection or maintenance of the computer system for the Services needs to be performed due to urgent circumstances;</br>
      ・Computers or communication lines have been disrupted due to an accident;</br>
      ・We becomes unable to provide the Services due to force majeure, including but not limited to earthquake, lightning, fire, storm and flood damage, power blackout and other natural disasters;</br>
      ・We becomes unable to provide the Service due to troubles or deviation of relating third party services such as SNS, infrastructure, etc.</br>
      ・We determines that suspension or discontinuance is required for other reasons.</br></br>
      We take no responsibility in regards to any troubles occurred by using our services.</br>
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">9. Withdrawal</div>
    <div>
      The Registered User may withdraw from the Services and cancel its registration as a Registered User by following to such manner as specified by this Service
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">10. Services Modification and Termination</div>
    <div>
      We shall be entitled to at any time modify or terminate this Services in its own discretion. We shall notify in advance the Registered User of any intended termination by this Service of the Services</br></br>
      We shall not be liable for any damages incurred by the User arising out of, or in connection with, any actions taken by this Service.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">11. Treatment of User Information</div>
    <div>
      Treatment by this Service of the Userʼs information shall be subject to the provisions of our <%= link_to "Privacy Policy", policy_path %>, which are separately prescribed, and the Registered User hereby agrees to treatment by this Service of the Userʼs information subject to such Privacy Policy.</br></br>
      We may, in its sole discretion, use or make public any information or data provided by the User to this Service as statistical information in a form that cannot identify an individual, and the User may not challenge or dispute such use.
    </div>
  </div>
  <div class="mb-4">
    <div class="font-weight-bold h5">12. Amendments</div>
    <div>
      We reserves the right to amend or change these Terms and Conditions. In the event of any amendment or change to these Terms and Conditions, this Service shall notify the Registered User thereof. If the Registered User uses the Services or fails to take steps to cancel its registration within the time specified by this Service after the notice set forth above, the User shall be deemed to have agreed to such amendment or change to these Terms and Conditions.
    </div>
  </div>

  [Prescribed on 9/4/2017]

</div>
