<p>ようこそ, <span class="main-color">MEEaT JAPAN</span>へ！！
<p>仮登録が完了しましたので下のリンクから本登録を完了させてください。</p>

<p><%= link_to '本登録をする', japanese_confirmation_url(controller: 'japaneses/confirmations', action: 'create', confirmation_token: @token) %></p>
