<% content_for :rooms do %>
  <div class="row">
    <div class="col-5">

    </div>
    <div class="col-7">
      
    </div>
  </div>
  <% if !@rooms.nil? %>
    <% @rooms.each do |room| %>
      <% room.name %>
    <% end %>
  <% end %>
<% end %>
