<h1>BiliBuddy</h1>

<p>Hi <%= @foreigner.name %>,</p>

<p>
Your meal has been offered. Click on the link below to check offer.
</p>

<%= link_to "check offer", edit_match_url(@match), only_path: false, protocol: 'https://' %>
