@import "bootstrap";
@import "toastr";
@import "form";
// @import "partials/*";
// - Sassファイルでは*= require、*= require_treeを削除する
// - Sassファイルではインポートに@importを利用する
// - Sassファイルで*= requireを利用すると他のスタイルシートではBootstrapのmixinや変数を利用できなくなる

$darkorange: #FF6928;
$lightorange: #FFF2E5;
$darkblue: #4682B4;

body {
  color: #565a5c;
  background-color: white;
  padding-top: 86px;
  // font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.circle-image {
  border-radius: 50%;
}

.w-60 {
  width: 60% !important;
}

.w-40 {
  width: 40% !important;
}

.mb-45 {
  margin-bottom: 2rem !important;
}

.navbar {
  min-height: 80px;

  .main-logo {
    color: $darkorange;
    font-size: 38px;
    font-weight: 900;
  }

  .nav-link {
    color: #777777;

    &:hover {
      color: $darkorange;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.modal {
  top: 70px;

  .modal-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }
}

.jumbotron {
  background-image: url("sushi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 0 right 150px;
  background-color: #F9F9F9;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem;
  }
}

.offset-75 {
    margin-left: 62.6666666667%;
}

.second-col {
  border: 1px;
  border-radius:15px;
  background: -moz-linear-gradient(#ffb03c, $darkorange);
  background: -webkit-linear-gradient(#ffb03c, $darkorange);
  background: linear-gradient(to left, #ffb03c, $darkorange);
}

.btn-darkorange {
    color: #fff;
    background-color: $darkorange;
    border-radius: 30px;

    &:hover {
        color: $darkorange;
        background-color: white;
        border-color: $darkorange !important;
        background-image: none;
    }
}

.btn-darkorange-reverse {
    color: $darkorange;
    background-color: #fff;
    border:solid 1px $darkorange;
    border-radius: 30px;

    &:hover {
        color: #fff;
        background-color: $darkorange;
        border-color: $darkorange !important;
        background-image: none;
    }
}

.btn-darkblue {
    color: #fff;
    background-color: $darkblue;
    border-radius: 30px;

    &:hover {
        color: $darkblue;
        background-color: white;
        border-color: $darkblue !important;
        background-image: none;
    }
}

.btn-darkblue-reverse {
    color: $darkblue;
    background-color: #fff;
    border: solid 3.5px $darkblue;
    border-radius: 30px;

    &:hover {
        color: #fff;
        background-color: $darkblue;
        border-color: $darkblue !important;
        background-image: none;
    }
}

.offer-btn:hover {
  background-color:#4682B4 !important;
  filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.6)) !important;
}

.matched-btn:hover {
  background-color:#FF4F50 !important;
  filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.6)) !important;
}

.facebook-button {
    color: white;
    background-color: #305097;
    border-color: #305097;
    border-radius: 15px;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        opacity:0.8;
    }
}

.mess-send:hover {
  font-size:18px !important;
}

.btn-outline-darkorange {
    color: $darkorange;
    border-radius: 30px;
}

.bg-darkorange {
  background-color: $darkorange;
}

.bg-grayorange {
  background-color:#FF9872;
}

.bg-lightorange {
  background-color: #FFF2E5;
}
.border-darkorange {
  border-color: $darkorange !important;
}

.border-lightorange {
  border-color: #FFF2E5 !important;
}

.main-color {
  color: $darkorange;
}

.main-blue {
  color: $darkblue;
}

.meal-color {
  color: #ffa47c;
}

.word-edge {
  text-shadow: $darkorange 3.5px 2px 0px,$darkorange -1px 1px 0px, $darkorange 1px -1px 0px, $darkorange -1px -1px 0px;
}

.sign-up-in-back {
  border: 1px;
  background: -moz-linear-gradient(#ffb03c, $darkorange);
  background: -webkit-linear-gradient(#ffb03c, $darkorange);
  background: linear-gradient(to bottom, #ffb03c, $darkorange);
}

.close:hover {
  font-size: 30px;
}

.how-to:hover {
  cursor:pointer;
  color:red !important;
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

.meal-heart:hover {
  font-size:34px;
}

// =============================

.foreigner-edit .field_with_errors {
  display:inline;
  color: red;


  select {
    border:solid 2px red !important;
  }

  input {
    border:solid 2px red !important;
  }
}

.new_meal .field_with_errors {
  display:inline-block;
  color:red;
}

.profile-warning {
    position: relative;
    margin: 2em 0;
    padding: 1rem;
    border:solid 2px #FF4F50;
    border-radius: 30px;
}
.profile-warning .warning-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: -10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 28px;
    background: #FFFAFA;
    color: #95ccff;
    font-weight: bold;
}
.profile-warning p {
    margin: 0;
    padding: 0;
}


// roomsのtable
.meal-th {
  text-align:center;
  padding:10px 3px 5px 3px !important;
  vertical-align: middle !important;
}

.meal-td {
  font-size:16px;
  font-weight:bold;
  text-align:center;
  padding:3px !important;
  vertical-align: middle !important;
}

.tr_bottom {
  background-color:#FFF5EE !important;

  &:hover {
    cursor:pointer;
    background-color: #FFDEAD !important;
  }
}

.tr_bottom:last-child {
  border:none;
}

.table thead th, .table th, .table td {
  border:none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color:white !important;
  color:$darkblue;
  border-bottom:solid 6px $darkblue;
  border-radius:0px;
}

.meal-nav {
  color:black;
  font-size:15px;
  max-width:200px;
  min-width:100px;
}

.meal-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .meal-container {
      max-width: 530px; } }
  @media (min-width: 768px) {
    .meal-container {
      max-width: 680px; } }
  @media (min-width: 992px) {
    .meal-container {
      max-width: 700px; } }
  @media (min-width: 1200px) {
    .meal-container {
      max-width: 1340px; } }

@media (max-width: 706px) {
  .meal-small {
    margin-left:30px; } }
