@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "partials/*";
// - Sassファイルでは*= require、*= require_treeを削除する
// - Sassファイルではインポートに@importを利用する
// - Sassファイルで*= requireを利用すると他のスタイルシートではBootstrapのmixinや変数を利用できなくなる


body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.row {
  margin-top: 150px;
}
