.cp_iptxt {
  position: relative;
  width: 100%;
  margin: 15px 3%;
}
.cp_iptxt input[type='text'] {
  font: 17px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: black;
  border: none;
  border-bottom: 2px solid #1b2538;
  background: transparent;
}
.ef input[type='text']:focus {
  border-bottom: 2px solid #da3c41;
  outline: none;
}
